.forms {
    margin: 30px 0 80px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 59);
    padding: 50px 0 50px 0;
}

.forms a{
    width: 48%;
    margin: 10px;
}

.forms img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border: 1px solid white;
}

.forms img:hover {
    transform: scale(1.010);
    transition: 0.25s linear;
    cursor: pointer;
}

@media (max-width: 1250px){
    .forms {
        flex-direction: column;
    }
    .forms a{
        width: 60%;
    }

}

@media (max-width: 900px){
    .forms a{
        width: 80%;
    }

}

@media (max-width: 600px){
    .forms a{
        width: 90%;
    }

    #seja-um-corretor {
        margin-top: 10px;
    }
}