.form-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: rgb(0, 0, 59);
    padding: 33px;
    border-radius: 10px;
    height: 400px;
    justify-content: space-between;
    margin: 100px 0 45px 0;
}

.form-container h2 {
    padding: 10px 0 0 0;
    color: white;
    font-size: 1.6em;
}

.caixas-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.caixas-form label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
}

.caixas-form label img {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.caixas-form input{
    height: 40px;
    flex-grow: 1;
    padding-left: 10px;
    border-radius: 5px;
}

.botoes button {
    margin: 0 10px 0 0;
    padding: 7px;
    border-radius: 4px;
    background-color: white;
    width: 80px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
    font-weight: bold;
    color: rgb(0, 0, 59);
}

.botoes button:hover {
    transform: scale(1.02);
    cursor: pointer;
}

@media (max-width: 850px) {
    .form-container {
        width: 90%;
    }
}