
.container-principal {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 95%;
}

.container {
    border-radius: 10px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 27.5%;
    /* flex: 1; */
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.8);
    text-decoration: none;
    color: black;
    margin: 30px 0 0 0;
}

.img-principal-card {
    width: 100%;
    height: 50%;
    aspect-ratio: 4 / 3;
    border-radius: 5px;
}

.container:hover {
    transform: scale(1.008);
    transition: transform 0.27s linear;
    cursor: pointer;
}

.descricao {
    margin: 0 0 2px 0;
    width: 100%;
    padding: 10px;
}

.endereco {
    margin-top: 1.5px;
    font-size: 0.9em;
}

.tipo-imovel{
    font-size: 1.2em;
}

.cod-imovel {
    padding: 10px;
    font-weight: bold;
    width: 100%;
}

.infos {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 4px 0 4px 0;
    flex: 1;
}

.card-info {
    flex-grow: 1;
    flex-basis: 100px;
    color: white;
    display: flex;
    justify-content: left;
    align-items: center;
    color: black;
    padding: 10px;
}

.img-info {
    width: 20px;
}

.num-info {
    margin-left: 10px;
}

.valor {
    width: 100%;
    padding: 5px;
    font-size: 1.4em;
    padding: 5px 0 12px 10px;
    width: 70%;
}

.valores {
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

#valor-cond {
    font-size: 13px;
    white-space: nowrap;
    width: 30%;
    padding: 0 0 20px 12px;
    width: 100%;
}

#numero-0 {
    font-size: 6px;
}

@media (max-width: 1030px) {
    .container-principal {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        width: 60%;
    }

    .container {
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .card-info {
        flex-basis: 30px;
    }

    .valor {
        font-size: 1.2em;
    }
}

@media (max-width: 650px) {
    .endereco {
        margin-top: 1.5px;
        font-size: 0.8em;
    }

    .tipo-imovel{
        font-size: 1em;
    }

    .container-principal {
        width: 80%;
    }

    .container {
        width: 100%;
    }
}
